@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body , html {
    background-color:black;

}


header{
    background-color:Gray;

}

header > h1 {
    padding: 10px;
    text-align: center;
    background-color: #5201FA;
    color: white;
}

i#burguer{
    display: block;
    background-color: #5201FA;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#burguer:hover{
    background-color: white;
    color: black;
}


nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color:#5201FA;
    color: white;
    border-top: 2px solid grey;
}

nav > ul > li > a:hover {
    background-color: #17ab2d;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    
}

article > h2 {
    padding-bottom: 20px;

}
article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent:20px
}